
body{
	background-color: #EEE;
}

.row{
	 margin-bottom: 40px;
}
.bar {
	padding: 10px;
	text-align: center;
}

input.search {
	border: 2px solid #337ab7;
	font-size: 16px;
	height: 35px;
	text-align: center;
	width: 280px;
}
.col-sm-4{
    
    width: 30.33333333%;
   padding: 10px;
    /* text-align: right; */
    margin: 5px;
    height: 150px;
    background-color: white;
	box-shadow: 0px 4px 4px -4px #888;
}
.centered{
	width:80px;
	margin:0 auto;
}
.centered button{
	margin-top:10px;
}
.user-edition{

}