*{
      box-sizing: border-box;
 }
 nav {
    width: 100%;
    background: rgb(90,0,0);
    border: 1px solid #ccc;
    border-right: none;
}

#nav-element{
  margin: 0 auto;
  width:90%; /*960px */

}

nav .nav-primary{

  margin: 0 auto;
  width: 93.75%; /* 900/960 */
}
nav #nav-header{
  /*border-bottom: solid 3px rgb(70,0,0);*/
  margin: 30px auto;
  width:93.75%; /* 900/960 */

}

#nav-logo{
  margin: 0 auto;
  width:77.77777778%; /* 700/900 */
  text-align: center;
}

#nav-logo  a{
  text-decoration: none;
  color:#CCB0B0;
  font-size:1.8em; /* 24/16 */
  font-family: 'Inconsolata',serif ;   /*word-spacing: 0.5em;*/
}

#nav-login-header{
  display:none;
}


nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


nav ul li {
    list-style: none;
    display: inline;
    float: left;
    text-align: center;
    width: 25%; /* 225/900 */ /* fallback for non-calc() browsers */
    color:#fafafa;
    padding-left: 1.3%;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a{
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family:Quicksand;
  font-weight:700;
  text-decoration: none;
  color:#CCB0B0;
  font-size: 0.8em; /* 30/20 */
}

nav ul li a i {
    margin-right:7,555555555556%;/*15/270*/
    
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear; 
}

nav .nav-primary{
  margin-bottom:20px;
}



@media screen and (max-width: 768px){

    nav .nav-primary{
       width: 92.1875%; /* 708/768 */
    }
    nav #nav-header{
      width: 92.1875%; /* 708/768 */
    }
    #nav-logo{
      display:none;
    }
    #nav-login{
      display: none;
    }
    #nav-login-header{
      display:block;
      width:70.621468926554%; /* 500/708 */
      margin:0 auto;
      text-align: center;

    }
    
   #nav-login-header  a{
      text-decoration: none;
      color:#CCB0B0;
      font-size:1.5em; /* 24/16 */
      font-family: 'Inconsolata',serif ;   /*word-spacing: 0.5em;*/
   } 
   #login-icon{
      margin-left: 10px;
   }

  nav ul {
    margin-bottom:10px;
  }
  
  nav ul li {
      width: 33%; /* 225/900 */ /* fallback for non-calc() browsers */
      padding: 4.33%;
  }
  
  nav ul li a{
    font-size: 0.65666em; /* 30/20 */
  }
  nav ul li a i {
  margin-right:4,555555555556%;/*15/270*/
}
}




