
 nav {
    width: 100%;
    background: rgb(90,0,0);
    border: 1px solid #ccc;
    border-right: none;
}

nav #nav-home{
  text-align: center;
  border-bottom: solid 3px rgb(70,0,0);
}

nav #nav-home a{
  text-decoration: none;
  color:#CCB0B0;
  font-size:56px;
  font-family: 'Inconsolata',serif ;   /*word-spacing: 0.5em;*/
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: 25%; /* fallback for non-calc() browsers */
    width: calc(100% / 4);
    box-sizing: border-box;
    color:#fafafa;
    background: url(catalog.png) no-repeat 0 0.32em;
    padding-left: 15px;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a{
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family:Quicksand;
  font-weight:700;
  text-decoration: none;
  color:#CCB0B0;
  font-size: 20px;
}

nav ul li a i {
    margin-right:15px;
    
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear; 
  }


