
body{
	background-color: #EEE;
	width:100%;
}
.projects{
	width:80%;
	margin:20px auto;
}
.dummy {
    margin-top: 100%;
}

.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
    text-decoration: none;
}
a.thumbnail:hover {
    border-color: #337ab7;
    text-decoration: none;
}
#plus{
	
}