<section class="web">
	<div class="container">
	 	<div class="row">
	 		<div ng-repeat="user in vm.users">
	 			<div class="col-sm-4">
		 			<table>
		 			 <!-- <tr>
					    <th>name</th>
					    <th>birth date</th> 
					    <th>password</th>
					  </tr> -->
		 				<tr>
		 				  <td>{{user.name}}</td>
		 				 </tr>
		 				 <tr>
		 				 	<td>{{user.birthDate}}</td>
		 				 </tr>
		 				 <tr>
	 				 	 	<td>{{user.password}}</td>
		 				 </tr>
	 				 </table>
	 				<button type="button" class="btn btn-default btn-sm">
	          			<span class="glyphicon glyphicon-plus"></span>
	        		</button>
	        		<button type="button" class="btn btn-default btn-sm">
	          			<span class="glyphicon glyphicon-edit"></span>
	        		</button>
	        		<button type="button" class="btn btn-default btn-sm" ng-click="vm.deleteUser(user)">
	          			<span class="glyphicon glyphicon-erase"></span>
	        		</button>  
	        		<hr/>      
	 			</div>	<!-- end #col-sm-4 -->

	 		</div>
	 	</div>
	</div>
</section>
